In [1]:
print hello

NameError: name 'hello' is not defined

In [2]:
print 'hello'

hello

In [3]:
%pylab

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

In [41]:
from pandas import *
import pandas 
import numpy as np

def side_by_side(*objs, **kwds):
    from pandas.core.common import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print adjoin(space, *reprs)
    
plt.rc('figure', figsize=(10, 6))

In [7]:
import sys 
for x in sys.path : print x

/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python27.zip
/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7
/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/plat-darwin
/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/plat-mac
/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/plat-mac/lib-scriptpackages
/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python
/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/lib-tk
/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/lib-old
/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/lib-dynload
/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/PyObjC
/Library/Python/2.7/site-packages
/Library/Python/2.7/site-packages/IPython/extensions

In [8]:
print 'hello'

hello

In [9]:
from pandas import *
import pandas 
import numpy as np
import matplotlib.pyplot as plt

def side_by_side(*objs, **kwds):
    from pandas.core.common import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print adjoin(space, *reprs)
    
plt.rc('figure', figsize=(10, 6))

In [10]:
plot(arange(10))

In [11]:
labels = ['a','b','c','d','e']
s = Series(randn(5), index=labels)
s

a    0.392757
b    0.374509
c   -0.039916
d    0.606605
e    1.007763
dtype: float64

In [12]:
'b' in s

True

In [13]:
s['b']

0.37450873550448105

In [14]:
mapping = s.to_dict()

In [15]:
mapping

{'a': 0.39275686294726714,
 'b': 0.37450873550448105,
 'c': -0.039915530610466939,
 'd': 0.60660450748003814,
 'e': 1.0077632371863368}

In [16]:
s

a    0.392757
b    0.374509
c   -0.039916
d    0.606605
e    1.007763
dtype: float64

In [17]:
s = Series(mapping, index=['b', 'e', 'a', 'd'])
s

b    0.374509
e    1.007763
a    0.392757
d    0.606605
dtype: float64

In [18]:
s

b    0.374509
e    1.007763
a    0.392757
d    0.606605
dtype: float64

In [19]:
s = Series(mapping, index=['b', 'e', 'a', 'd', 'f'])

In [20]:
s

b    0.374509
e    1.007763
a    0.392757
d    0.606605
f         NaN
dtype: float64

In [21]:
isnull(s)

b    False
e    False
a    False
d    False
f     True
dtype: bool

In [22]:
s[:3]

b    0.374509
e    1.007763
a    0.392757
dtype: float64

In [23]:
df = DataFrame({'a':np.random.randn(6),
               'b': ['foo', 'bar'] * 3,
               'c': np.random.randn(6)})
df

          a    b         c
0  1.618302  foo -0.370428
1  1.089387  bar -0.981998
2 -1.323026  foo -0.613597
3  0.616687  bar -0.623604
4  0.263099  foo  1.087144
5  0.076845  bar  2.259643

In [24]:
df(1)

TypeError: 'DataFrame' object is not callable

In [25]:
df[1]

KeyError: 1

In [26]:
df['a']

0    1.618302
1    1.089387
2   -1.323026
3    0.616687
4    0.263099
5    0.076845
Name: a, dtype: float64

In [27]:
df[:3]

          a    b         c
0  1.618302  foo -0.370428
1  1.089387  bar -0.981998
2 -1.323026  foo -0.613597

In [28]:
df.ix

In [29]:
range(5)

[0, 1, 2, 3, 4]

In [30]:
df

          a    b         c
0  1.618302  foo -0.370428
1  1.089387  bar -0.981998
2 -1.323026  foo -0.613597
3  0.616687  bar -0.623604
4  0.263099  foo  1.087144
5  0.076845  bar  2.259643

In [31]:
df.ix[0]

a     1.618302
b          foo
c   -0.3704275
Name: 0, dtype: object

In [35]:
df.ix[0:4, ['b', 'c']]

     b         c
0  foo -0.370428
1  bar -0.981998
2  foo -0.613597
3  bar -0.623604
4  foo  1.087144

In [33]:
df.columns

Index([u'a', u'b', u'c'], dtype='object')

In [36]:
df.ix[['b','c']]

    a    b   c
b NaN  NaN NaN
c NaN  NaN NaN

In [37]:
df[df['c'] > 0]

          a    b         c
4  0.263099  foo  1.087144
5  0.076845  bar  2.259643

In [38]:
df[df['c'] > 0, ['b', 'c']]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [39]:
df.ix[df['c'] > 0, ['b', 'c']]

     b         c
4  foo  1.087144
5  bar  2.259643

In [47]:
date_range('1/1/2000', periods=6)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [53]:
data = {}
for col in ['foo', 'bar', 'baz']:
    for row in ['a', 'b', 'c', 'd']:
        data.setdefault(col, {})[row] = randn()
data

{'bar': {'a': -0.24376198004499458,
  'b': 1.8533662740525816,
  'c': -1.0865219552692658,
  'd': -1.0682495603528026},
 'baz': {'a': -0.06554935067548295,
  'b': -0.6555248306664065,
  'c': 0.14220843332903357,
  'd': 1.9219190690450052},
 'foo': {'a': 0.05967500717091418,
  'b': -0.5774142386639223,
  'c': -0.42414065082956587,
  'd': -0.7676792686883037}}

In [54]:
DataFrame(data)

        bar       baz       foo
a -0.243762 -0.065549  0.059675
b  1.853366 -0.655525 -0.577414
c -1.086522  0.142208 -0.424141
d -1.068250  1.921919 -0.767679

In [55]:
del data['foo']['c']

In [57]:
DataFrame(data)

        bar       baz       foo
a -0.243762 -0.065549  0.059675
b  1.853366 -0.655525 -0.577414
c -1.086522  0.142208       NaN
d -1.068250  1.921919 -0.767679

In [58]:
df.mean?